In [26]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [27]:
df_swimming = pd.read_csv('Olympic_Swimming_Results_1912to2020.csv')

In [28]:
df_swimming.head()

,Location,Year,Distance (in meters),Stroke,Relay?,Gender,Team,Athlete,Results,Rank
0,Tokyo,2020,100m,Backstroke,0,Men,ROC,Evgeny Rylov,51.98,1
1,Tokyo,2020,100m,Backstroke,0,Men,ROC,Kliment Kolesnikov,52,2
2,Tokyo,2020,100m,Backstroke,0,Men,USA,Ryan Murphy,52.19,3
3,Tokyo,2020,100m,Backstroke,0,Men,ITA,Thomas Ceccon,52.3,4
4,Tokyo,2020,100m,Backstroke,0,Men,CHN,Jiayu Xu,52.51,4

In [29]:
df_swimming.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4359 entries, 0 to 4358
Data columns (total 10 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Location              4359 non-null   object
 1   Year                  4359 non-null   int64
 2   Distance (in meters)  4359 non-null   object
 3   Stroke                4359 non-null   object
 4   Relay?                4359 non-null   int64
 5   Gender                4359 non-null   object
 6   Team                  4359 non-null   object
 7   Athlete               4345 non-null   object
 8   Results               4331 non-null   object
 9   Rank                  4359 non-null   int64
dtypes: int64(3), object(7)
memory usage: 340.7+ KB

In [30]:
# Set the display options to show all rows and columns
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)

In [31]:
# Checking for NaN values in each column
nan_values = df_swimming.isna().any()
nan_values

Location                False
Year                    False
Distance (in meters)    False
Stroke                  False
Relay?                  False
Gender                  False
Team                    False
Athlete                  True
Results                  True
Rank                    False
dtype: bool

In [32]:
# Getting the rows where NaN values exist
rows_with_nan = df_swimming[df_swimming.isna().any(axis=1)]

# Printing the NaN values and corresponding rows
for column in nan_values.index:
    if nan_values[column]:
        print(f"NaN values in column '{column}':")
        print(rows_with_nan[rows_with_nan[column].isna()])
        print()

NaN values in column 'Athlete':
       Location  Year Distance (in meters)     Stroke  Relay? Gender Team  \
435         Rio  2016                4x100     Medley       1  Women  CHN
436         Rio  2016                4x100     Medley       1  Women  CAN
437         Rio  2016                4x100     Medley       1  Women  RUS
438         Rio  2016                4x100     Medley       1  Women  GBR
445         Rio  2016                4x200  Freestyle       1    Men  GER
952     Beijing  2008                4x200  Freestyle       1    Men  USA
1432     Sydney  2000                4x100  Freestyle       1    Men  AUS
1467     Sydney  2000                4x200  Freestyle       1    Men  ITA
1688    Atlanta  1996                4x100  Freestyle       1    Men  USA
2227      Seoul  1988                4x200  Freestyle       1    Men  AUS
2230      Seoul  1988                4x200  Freestyle       1    Men  FRA
3625       Rome  1960                4x200  Freestyle       1    Men  JPN
4158  Amsterdam  1928                4x200  Freestyle       1    Men  ESP
4232      Paris  1924                4x200  Freestyle       1    Men  USA

     Athlete          Results  Rank
435      NaN  00:03:55.180000     4
436      NaN  00:03:55.490000     4
437      NaN  00:03:55.660000     4
438      NaN  00:03:56.960000     4
445      NaN  00:07:07.280000     4
952      NaN  00:06:58.560000     1
1432     NaN  00:03:13.670000     2
1467     NaN  00:07:12.910000     4
1688     NaN  00:03:15.410000     1
2227     NaN  00:07:15.230000     4
2230     NaN  00:07:24.690000     4
3625     NaN  00:08:13.200000     2
4158     NaN  00:11:43.000000     4
4232     NaN  00:09:53.400000     1

NaN values in column 'Results':
       Location  Year Distance (in meters)        Stroke  Relay? Gender Team  \
271         Rio  2016                 100m     Butterfly       0  Women  USA
431         Rio  2016                4x100        Medley       1    Men   IR
679      London  2012                4x100     Freestyle       1  Women  SWE
943     Beijing  2008                4x100        Medley       1    Men  FRA
951     Beijing  2008                4x100        Medley       1  Women  GER
1023     Athens  2004                 100m  Breaststroke       0  Women  CHN
1087     Athens  2004                 200m  Breaststroke       0    Men  AUS
1207     Athens  2004                4x100        Medley       1  Women  GBR
1439     Sydney  2000                4x100     Freestyle       1    Men  RUS
1703    Atlanta  1996                4x100     Freestyle       1  Women  RUS
1983  Barcelona  1992                4x200     Freestyle       1    Men  AUS
2215      Seoul  1988                4x100        Medley       1    Men  GBR
2351    Angeles  1984                 200m  Breaststroke       0    Men  ITA
2463    Angeles  1984                4x100        Medley       1    Men  JPN
2470    Angeles  1984                4x100        Medley       1  Women  JPN
2471    Angeles  1984                4x100        Medley       1  Women  SWE
2511     Moscow  1980                 100m  Breaststroke       0    Men  SWE
4241    Antwerp  1920                 100m    Backstroke       0    Men  USA
4251    Antwerp  1920                 100m     Freestyle       0  Women  NZL
4252    Antwerp  1920                 100m     Freestyle       0  Women  SWE
4265    Antwerp  1920                 200m  Breaststroke       0    Men  USA
4266    Antwerp  1920                 200m  Breaststroke       0    Men  AUS
4271    Antwerp  1920                 200m  Breaststroke       0    Men  USA
4272    Antwerp  1920                 200m  Breaststroke       0    Men  AUS
4278    Antwerp  1920                 400m  Breaststroke       0    Men  SWE
4284    Antwerp  1920                 400m     Freestyle       0    Men  USA
4295    Antwerp  1920                4x200     Freestyle       1    Men  ITA
4354  Stockholm  1912                4x100     Freestyle       1  Women  SWE

                                                Athlete Results  Rank
271                                       Kelsi Worrell     NaN     5
431   Bence Pulai, Richard Bohus, Daniel Gyurta, Gab...     NaN     5
679   Michelle Coleman, Gabriella Fagundez, Sarah Sj...     NaN     5
943   Benjamin Stasiulis, Christophe Lebon, Fabien G...     NaN     5
951   Antje Buschschulte, Daniela Samulski, Britta S...     NaN     5
1023                                             Hui Qi     NaN     5
1087                                          Jim Piper     NaN     5
1207  Kathryn Evans, Kirsty Balfour, Georgina Lee, S...     NaN     5
1439   Andrey Kapralov, Alexander Popov, Denis Pimankov     NaN     5
1703  Natalya Sorokina, Yelena Nazemnova, Natalia Me...     NaN     5
1983  Ian Robert Brown, Kieren John Perkins, Duncan ...     NaN     5
2215  Gary Michael Binfield, Mark Andrew Foster, Adr...     NaN     5
2351                                    Marco Del Prete     NaN     5
2463  Hiroshi Sakamoto, Shigeo Ogata, Shigehiro Taka...     NaN     5
2470  Kaori Yanase, Naomi Sekido, Hiroko Nagasaki, N...     NaN     5
2471  Anna-Karin Eriksson, Agneta Eriksson, Petra Hi...     NaN     5
2511                                     Peter Berggren     NaN     5
4241                                      Stubby Kruger     NaN     5
4251                                     Violet Walrond     NaN     5
4252                                       Jane Gylling     NaN     5
4265                                 Jack Zophar Howell     NaN     5
4266                                       Ivan Stedman     NaN     5
4271                                 Jack Zophar Howell     NaN     5
4272                                       Ivan Stedman     NaN     5
4278                                      Per Cederblom     NaN     5
4284                                        Fred Kahele     NaN     5
4295  Gilio Bisagno, Antonio Quarantotto, Agostino F...     NaN     5
4354  Greta Carlsson, Vera Thulin, Sonja Johnsson, G...     NaN     5

In [33]:
#To clean the data, in the Athlete column, the NaN values will be replaced with the values written in the Team Column
df_swimming['Athlete'].fillna(df_swimming['Team'], inplace=True)
df_swimming['Results'].fillna(method='ffill', inplace=True)

In [34]:
#Check if there are NaN values
df_swimming.isna().any()

Location                False
Year                    False
Distance (in meters)    False
Stroke                  False
Relay?                  False
Gender                  False
Team                    False
Athlete                 False
Results                 False
Rank                    False
dtype: bool

In [35]:
df_swimming.dtypes

Location                object
Year                     int64
Distance (in meters)    object
Stroke                  object
Relay?                   int64
Gender                  object
Team                    object
Athlete                 object
Results                 object
Rank                     int64
dtype: object

df_swimming['Distance (in meters)'].head()

In [36]:
#Change the distance to get only the numerical value
#Change the gender by a number, 0 for men and 1 for women
df_swimming['Distance (in meters)'] = df_swimming['Distance (in meters)'].str.extract('(\d+)').astype(int)
df_swimming['Gender'] = df_swimming['Gender'].replace({'Men': 0, 'Women': 1})

In [37]:
df_swimming.head()

,Location,Year,Distance (in meters),Stroke,Relay?,Gender,Team,Athlete,Results,Rank
0,Tokyo,2020,100,Backstroke,0,0,ROC,Evgeny Rylov,51.98,1
1,Tokyo,2020,100,Backstroke,0,0,ROC,Kliment Kolesnikov,52,2
2,Tokyo,2020,100,Backstroke,0,0,USA,Ryan Murphy,52.19,3
3,Tokyo,2020,100,Backstroke,0,0,ITA,Thomas Ceccon,52.3,4
4,Tokyo,2020,100,Backstroke,0,0,CHN,Jiayu Xu,52.51,4

In [38]:
#Replace the ROC team used in 2020 Olympics by RUS, that corresponds to Russia
df_swimming['Team'] = df_swimming['Team'].replace('ROC', 'RUS')

In [39]:
df_swimming.head()

,Location,Year,Distance (in meters),Stroke,Relay?,Gender,Team,Athlete,Results,Rank
0,Tokyo,2020,100,Backstroke,0,0,RUS,Evgeny Rylov,51.98,1
1,Tokyo,2020,100,Backstroke,0,0,RUS,Kliment Kolesnikov,52,2
2,Tokyo,2020,100,Backstroke,0,0,USA,Ryan Murphy,52.19,3
3,Tokyo,2020,100,Backstroke,0,0,ITA,Thomas Ceccon,52.3,4
4,Tokyo,2020,100,Backstroke,0,0,CHN,Jiayu Xu,52.51,4

In [50]:
#Create a new column that shows the total time (Results) in seconds
# Convert 'Results' column to string type
df_swimming['Results'] = df_swimming['Results'].astype(str)

# Define a function to convert time values to seconds and hundreds of seconds
def convert_time(time_str):
    try:
        if ':' in time_str:
            # Time is in the format HH:MM:SS.SS (hours, minutes, seconds, and hundredths of a second)
            parts = time_str.split(':')
            if len(parts) == 3:
                hours, minutes, seconds = parts
                total_seconds = int(hours) * 3600 + int(minutes) * 60 + float(seconds)
            elif len(parts) == 2:
                minutes, seconds = parts
                total_seconds = int(minutes) * 60 + float(seconds)
            else:
                raise ValueError("Invalid time format")
        else:
            # Time is in the format SS.SS (seconds and hundredths of a second)
            total_seconds = float(time_str)
        return total_seconds
    except:
        # Invalid or unexpected value, assign NaN
        return np.nan

# Apply the conversion function to the 'Results' column and create a new column 'TimeInSeconds'
df_swimming['TimeInSeconds'] = df_swimming['Results'].apply(convert_time)

In [59]:
df_swimming.head(40)

,Location,Year,Distance (in meters),Stroke,Relay?,Gender,Team,Athlete,Results,Rank,TimeInSeconds
0,Tokyo,2020,100,Backstroke,0,0,RUS,Evgeny Rylov,51.98,1,51.98
1,Tokyo,2020,100,Backstroke,0,0,RUS,Kliment Kolesnikov,52,2,52.00
2,Tokyo,2020,100,Backstroke,0,0,USA,Ryan Murphy,52.19,3,52.19
3,Tokyo,2020,100,Backstroke,0,0,ITA,Thomas Ceccon,52.3,4,52.30
4,Tokyo,2020,100,Backstroke,0,0,CHN,Jiayu Xu,52.51,4,52.51
5,Tokyo,2020,100,Backstroke,0,0,ESP,Hugo Gonzalez De Oliveira,52.78,4,52.78
6,Tokyo,2020,100,Backstroke,0,0,AUS,Mitchell Larkin,52.79,4,52.79
7,Tokyo,2020,100,Backstroke,0,0,ROU,Robert Glinta,52.95,4,52.95
8,Tokyo,2020,100,Breaststroke,0,0,GBR,Adam Peaty,57.37,1,57.37
9,Tokyo,2020,100,Breaststroke,0,0,NED,Arno Kamminga,58,2,58.00
10,Tokyo,2020,100,Breaststroke,0,0,ITA,Nicolo Martinenghi,58.33,3,58.33
11,Tokyo,2020,100,Breaststroke,0,0,USA,Michael Andrew,58.84,4,58.84
12,Tokyo,2020,100,Breaststroke,0,0,GBR,James Wilby,58.96,4,58.96
13,Tokyo,2020,100,Breaststroke,0,0,CHN,Zibei Yan,58.99,4,58.99
14,Tokyo,2020,100,Breaststroke,0,0,USA,Andrew Wilson,58.99,4,58.99
15,Tokyo,2020,100,Breaststroke,0,0,BLR,Ilya Shymanovich,59.36,4,59.36
16,Tokyo,2020,100,Butterfly,0,0,USA,Caeleb Dressel,49.45,1,49.45
17,Tokyo,2020,100,Butterfly,0,0,HUN,Kristof Kristof Milak,49.68,2,49.68
18,Tokyo,2020,100,Butterfly,0,0,SUI,Noe Ponti,50.74,3,50.74
19,Tokyo,2020,100,Butterfly,0,0,RUS,Andrei Minakov,50.88,4,50.88
20,Tokyo,2020,100,Butterfly,0,0,POL,Jakub Majerski,50.92,4,50.92
21,Tokyo,2020,100,Butterfly,0,0,AUS,Matthew Temple,50.92,4,50.92
22,Tokyo,2020,100,Butterfly,0,0,GUA,Luis Martinez,51.09,4,51.09
23,Tokyo,2020,100,Butterfly,0,0,BUL,Josif Miladinov,51.49,4,51.49
24,Tokyo,2020,100,Freestyle,0,0,USA,Caeleb Dressel,47.02,1,47.02
25,Tokyo,2020,100,Freestyle,0,0,AUS,Kyle Chalmers,47.08,2,47.08
26,Tokyo,2020,100,Freestyle,0,0,RUS,Kliment Kolesnikov,47.44,3,47.44
27,Tokyo,2020,100,Freestyle,0,0,FRA,Maxime Grousset,47.72,4,47.72
28,Tokyo,2020,100,Freestyle,0,0,KOR,Sunwoo Hwang,47.82,4,47.82
29,Tokyo,2020,100,Freestyle,0,0,ITA,Alessandro Miressi,47.86,4,47.86
30,Tokyo,2020,100,Freestyle,0,0,ROU,David Popovici,48.04,4,48.04
31,Tokyo,2020,100,Freestyle,0,0,HUN,Nandor Nemeth,48.1,4,48.10
32,Tokyo,2020,1500,Freestyle,0,0,USA,Robert Finke,14:39.65,1,879.65
33,Tokyo,2020,1500,Freestyle,0,0,UKR,Mykhailo Romanchuk,14:40.66,2,880.66
34,Tokyo,2020,1500,Freestyle,0,0,GER,Florian Wellbrock,14:40.91,3,880.91
35,Tokyo,2020,1500,Freestyle,0,0,ITA,Gregorio Paltrinieri,14:45.01,4,885.01
36,Tokyo,2020,1500,Freestyle,0,0,GBR,Daniel Jervis,14:55.48,4,895.48
37,Tokyo,2020,1500,Freestyle,0,0,RUS,Kirill Martynychev,14:55.85,4,895.85
38,Tokyo,2020,1500,Freestyle,0,0,AUT,Felix Auboeck,15:03.47,4,903.47
39,Tokyo,2020,1500,Freestyle,0,0,UKR,Serhii Frolov,15:04.26,4,904.26

In [58]:
df_swimming['Team'].unique()

array(['RUS', 'USA', 'ITA', 'CHN', 'ESP', 'AUS', 'ROU', 'GBR', 'NED',
       'BLR', 'HUN', 'SUI', 'POL', 'GUA', 'BUL', 'FRA', 'KOR', 'UKR',
       'GER', 'AUT', 'JPN', 'FIN', 'SWE', 'RSA', 'BRA', 'LTU', 'NZL',
       'TUN', 'GRE', 'CAN', 'ISR', 'IRL', 'HKG', 'BEL', 'CZE', 'DEN',
       'KAZ', 'ISL', 'JAM', 'SGP', 'NOR', 'ZIM', 'NZ', 'NL', 'IR', 'NLD',
       'SRB', 'CUB', 'ZAF', 'TTO', 'BAH', 'VEN', 'KEN', 'PNG', 'SLO',
       'CRO', 'SVK', 'ALG', 'ARG', 'CRC', 'PUR', 'MDA', 'BAR', 'EUN',
       'SUR', 'Unified Team ', 'TCH', 'URS', 'GDR', 'FRG', 'YUG', 'SUN',
       'BGR', 'COL', 'POR', 'CHE', 'MEX', 'ECU', 'PER', 'URU', 'EGY',
       'PHI', 'BER', 'IND', 'LUX', 'ANZ'], dtype=object)